
@{
    ViewBag.Title = "TempDrawing";
}

<h2>TempDrawing</h2>
<div id="VectorSum" class="container-fluid d-flex flex-row">
    
</div>
<script src="~/Scripts/Math/Drawer.js" type="text/javascript"></script>
<script src="~/Scripts/Math/Sheet.js" type="text/javascript"></script>
<script src="~/Scripts/Math/index.js" type="text/javascript"></script>